
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Buy Dune: Imperium</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
<div class="row">
<div class="col-md-12">
<h1>Buy Dune: Imperium</h1>
<p>
Dune: Imperium is available for purchase from the following retailers:
</p>
<ul>
<li>Amazon</li>
<li>Barnes & Noble</li>
<li>Target</li>
<li>Walmart</li>
</ul>
</div>
</div>
</div>
