
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dune: Imperium</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
<div class="row">
<div class="col-md-6">
<h1>Dune: Imperium</h1>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget metus eget quam tempor dignissim. Maecenas eget lacus ut nunc laoreet ultrices. Mauris eget metus eget quam tempor dignissim.
</p>
<button type="button" class="btn btn-primary">Buy Now</button>
<button type="button" class="btn btn-outline-primary">Contact Us</button>
</div>
<div class="col-md-6">
<img src="images/dune-imperium.jpg" alt="Dune: Imperium" class="img-fluid">
</div>
</div>
</div>
</body>
</html>


